<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: #edbeca">
    <h1>WSDGAMESTORE2020</h1>
    <h2 style="color: black; font-style: oblique;">Activation</h2>
    Hi {{ user.username }}, please
    <a href="{{activation_link}}">
      <button style="width: 70px; height: 1.5em;">Confirm</button></a
    >
    your registration
  </body>
</html>
