{% extends 'base.html' %}
<head>
  {% block head %} {% load static %}
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/shop.css' %}"
  />
  {% endblock %}
</head>

  <body>
    {% block content %} 
    <div id="content">
      {% for game in games %}
      <div class="card">
        <a href="/shop/{{game.id}}/">
          <div class="embed-responsive embed-responsive-1by1">
            <img
              src="{{ game.thumbnail }}"
              alt="{{ game.title }}"
              class="card-img-top embed-responsive-item"
            />
          </div>
          <p class="card-img-overlay">{{game.title}}</p>
          <p id="price" class="card-title badge">{{game.price}}€</p>
        </a>
      </div>
      {% endfor %} 
    </div>
    {% endblock%}
  </body>
</html>
